@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Foto del inicio*/
.inicio{
    background-image: url("../img/bg-reloj.webp");
    background-position: center;
    background-size: cover ;
    height:100vh;  
}
.inicioh{
    background-image: url("../img/menwatch.webp");
    background-position: center;
    background-size: cover ;
    height:100vh;  
}
.iniciom{
    background-image: url("../img/womenwatch.webp");
    background-position: center;
    background-size: cover ;
    height:100vh;  
}
.iniciou{
    background-image: url("../img/Unisex.webp");
    background-position: center;
    background-size: cover ;
    height:100vh;  
}
/*Nombre de Tienda*/
.name-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.navbar {
    background: linear-gradient(90deg, #0b3e27, #197149);
    padding: .3rem;
}
/*Nobre de Compañia*/
.navbar-brand{
    font-family: serif;
    font-size: xx-large;
    color: #eee;
    text-align: center;
    margin-left: 15px;
}
/*Foto del logo*/
.LOGOFOTO{
    width: 35px;
    height: 40px;
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 0.3125vw, 1rem);
    transition: all .5s ease-in-out;
    border-radius: .5rem;
}
.btn-search {
    color: #eee;
    border: solid 1px white;
}
.btn-search:hover {
    background: #1d4633;
}
.container{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*Seccion de producto*/
.Cate{
   padding-bottom: 10px; 
   font-family: 'Railway', sans-serif;
   text-align: center;
   color:#197149;
   text-decoration: underline;
}
/*icon de perfil,fav,carro*/
.perfil{
    color: black;
    margin-right: 15px;
}
.fav{
    color: black;
    margin-left: -80px;
    margin-right: 15px;
}
.cart{
    color: black;
    margin-right: 15px;
}
/*Cartas de Producto*/
.card-title {
    font-family: 'Oswald', sans-serif;
}
.btn-outline-seconday{
    border-color: #1d4633;
}
.card-text {
    font-family: 'Raleway', sans-serif;
}
.col {
    margin-top: 2rem;
}
/*Alerta de descuento*/
.alert {
  padding: 20px;
  background-color: #1d4633;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: white;
}
/*Footer del pagina*/
.footer {
    background: linear-gradient(90deg, #0b3e27, #197149);
    color: white;
    padding: 1rem;
}
.face{
    width: 25px;
    height: 30px;  
    margin-right: 20px;  
}
.inta{
    width: 25px;
    height: 30px;
    margin-right: 20px; 
}
.tik{
    width: 25px;
    height: 30px;
    margin-right: 20px; 
}
.twitterX{
    width: 25px;
    height: 30px;
    margin-right: 20px; 
}
/*Encuesta*/
.titulo{
    text-align: center;
    color: aliceblue;
    letter-spacing: 10px;
    padding-top: 20px;

}
.texto{
    text-align: center;
    color: aliceblue;
    word-spacing: 0.9rem;
    padding-top: 30px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(4, 224, 253, 0.5);
}
